<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Nw==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	7Q==
	</data>
	<key>aapl,panic-info</key>
	<data>
	8LA7PUaN4XVQDDQOs9llOQiGN5vNZrP5Zs6VxbOyuGZO6UDh+bwsp7fnZ+CLmRbLw/L8
	axgeo8vz1/jddoXhcHbZhRfPX9N3XT4uz19HaJUoT9vL8nnSTS+zX0dolShP28vyedJN
	L7NbMZoL5rLlXsmnkyi1vpZC5isIh7PLSTe9zDbKw+2yuG42l+WvIBzOLifd9DJ7+HbT
	5W82uyx3jeFwnQxXi8EUwvB4TZeHx2UQagitgmIpFsgoD7fLIB1IWqbX5W5QkEyWl+dz
	BQxvNpvNZnMuNpOZZeJwDAbSgWB4s9lsNptxsNg4NjPncGKQAoY3m81mszkXm8nMMnHY
	BgPpQDC82Ww2m804WGwsu9nGsRpIAcObzWaz2ZyLzWRmmTgchoF0IBjebDabzWYcLDaW
	2XC2WBmkgOHNZrPZbM7FZjKzTBw2w0A6EAxvNpvNZjMOFhvDyrYwDQZSwPBms9lsNudi
	M5lZJhbHYCAdCIY3m81msxkHi41jMzPsdgMpYHiz2Ww2m3OxmcwsE49jMJAOBMObzWaz
	2YyDxcaxmZlWE4MUMLzZbDabzbnYTGaWicc2GEgHguHNZrPZbMbBYmMcWUbG5UAKGN5s
	NpvN5lxsJjPLxGMyDKQDwfBms9lsNt/MubJ4VhbXzCAFDG82m81mcy42k5ll4nEZBtKB
	YHiz2Ww2m2/mXDlcpsXGZpAChjebzWazORebycwyMbkGA+lAMLzZbDabzTdzrhwuw3Bj
	MkgBw5vNZrPZnIvNZGaZmFyGgXQgGN5sNpvNZhwsNsbFxOGYDaSA4c1ms9lszsVmMrNM
	XKbBQDoQDG82m81mMw4WG+Ni4to4BlLA8Gaz2Ww252IzmVkmLpthIB0IhjebzWazGQeL
	jXGxcA5WBilgeLPZbDabc7GZzCwTm2swkA4Ew5vNZrPZjIPFxrgYGRYmgxQwvNlsNpvN
	udhMZpaJzWEYSAeC4c1ms9lsxsFiY1jZFpuVQQqFcEoEweXvcXk+B7nD7TJo/JbLy3P4
	201Ou88g+hs0rsvlZTcdREfLy2GyDrQuy91l9pcenq8VwvebDgrLz3MdiByWr+/hdbkH
	A7ntX3J6Hhazy70YaF3G01vksr3VfpPLvRioRU7Pw2J2+WzGm9Py9j0sL4Na7DS7Li7T
	w6BW+ky2t+niMj0MaqXPZry4TA+DwuL215yWz+nwN5tNLrPD+V7MBoPBQApFMzwGPacg
	e1k+T7/dOkUsF7TBZArFsix3l9kge1k+T7/dOgUxLL+n3aBlWe4us0HWsnyefrtBsZwL
	5oLpQNcyGTQtw0GyGkgG08VwuhoMBCVSQTJYLLcDyd9vug7vrrdssdrMFYu5ZDa/7CUt
	MovBafGLxdm+NppiWZa7y2xQtZok6kA3WJFItMWMLZytWGzNijFhC3ebGVs5HDEHywlv
	uJgNpliW5e4yGzRnp8llHQgEAoFgeBgMBoPBYLCYuAyDwWAwxbIsd5fZIHoZTweJw/Oy
	DgTDm81ms9mMg8XGMBgMBoMpvl9kUggC0ct4Okgcnpd1IBjebDabzWYcLCY2w2AwGEwx
	zc/p5Tao/SaX2SB3uF3WgZrhsfD9XkPl7xiNNQOhmuFxq1aLCXG2Yu1GoxVlMxwupZjm
	5/RyGzRH1+nk990NEpfPdbcO5HwqoGF3egwip8PnOcicZpdBYXs4zQ6L2WUdKFucglAw
	PCylUEzzc3q5DarD6el2GZR2g9xh93teHr/d5LkORKPZaDbZLGaTKdjhOR3EfofJZTJo
	XcbTQWE6iEazzW6yGi4W04F8oeB0WkzEXDAQKkwmy0EwvNlsNpvNN3OuTBubYTAYCzRP
	68ug2kxGw6UU7HeYXCaD1mU8fa5T8JPP6rwsL9LRZbm7TE/EXDBXTMFPPkPCaVmeDrOb
	YXf4XJYnbi6YC2bGKXzwNr3MLrfLdHk+EVMAiW83/Tull8PsbzM8/j6nX2zi5oK5YApf
	KBhKLoXMozwMR6fH80SM5oK5YApfKBhKQodIaHOYkLlgrpjCFwqGklP2+x4kh+H0tL08
	ZL/H67T7nKC5YC6YwhccQpPfaXP4hbLDdPNb3oay6+e0OxFzwVwwhS8UPBqxSGIwEYPB
	XDEXTRZT+ELBUHIpZB7lYTg6PZ4b5eF2WVw3m8vyRIzmgrlgCl8oaExapUR52l6WJ2iu
	mAum8JXN6TG6PF4nYgpfKNgcDqfDt5suf7MTMVdMpgCa0+zyPD+nl9tzVxhuniditJjM
	FYu5bgpfKGhMs8vT/JxebhPlaXtZnpi5YK6YwhcKWtNyevKZiLlgCqA5zS7P83N6uT13
	oc1z17qMpydqMpkL5sopgKGgcTp8t+Hy8nyefrtdoaBxOny34fLyfJ5+u6l5eJkYpofZ
	5fk8EXPBXDByTAEUvt/0YXiMLidoMAUwFDROh+82XF6ez9NvtysUNE6H7zZcXp7P0283
	NQ8va9lpcSLmgrlgCl8oGEQOk9C3nJ6Y0WIumEum8IWCUuowIXPBFL5QEAktUhMxF07h
	CwWDQ2hSWKfT3+55wuaKKXyh4LQpTD6nCZkrpvCFgsEhNFkcJmyumMIXCgahyWEi5rop
	SKFgsh0+l2mJmALoXpddYTicnR6H6em325yWl+9hNjsxg8kUJGpzGjaX6XlnmZ7AKYCh
	4DQ/p5fb0Dc7Pc4nZC6YC6bgF91k+Dvtpk/L47o8Tc8nYgpfKDidFhMxF0zBTz5DwpAx
	cXPBXDAzTsFPPkNCaHi8LtOZ7/O5LE/cXDAXzIxT+EJBJDEYGiZkuJkrRlPwk08kMRgy
	JmS4mStGUwBDwSO0epWH3Wd2WZ6guWIumk3BTz6n7Pc9SA7D6Wl7ech+j9dp9zlkTMRc
	MBdM4Us+oeww3fyWt6Hs+jntZpbP4XE+EXPBXDCFLxScNoX1OXSYTMRcMFeMRo4p+Mln
	sE5Ov0PGxAwGc8kUQHt5zEyLXesynp6IuWQumIKffDqJUuu0Doe/5fRErYZzzRTAUPAo
	D8PR6fGcWLanx+Xh202Xv9kJmivmotkU/OQzOB6X2WV5mP6Wh4yyBG2Gc8VcspnCh8XZ
	oOww3fyWt6Hs+jntTsRcMBdM4Us+oeww3fyWt6Hs+jntDhkTNhfMBSPjFL5QMGbD1mDT
	sjwdZidmLpnCFwpOm8L6PDRMxFwwVwxHjin4yedRHoaj0+N5yJio1XCumcIXCmLnYfd0
	jC63y4mZgp98TsvydJgdMiZiMQU/+ZzW5ebwuJyQ2XIumwJoTrPL8/ycXm7PXWjz3FV2
	j9/ktPs8d63LeHoipuAnn0HkMClkv8fr0DQxi9lcMFdN4QsFQ0kmfD4/zuHpxMwFc9lg
	Cn7yGUQOkyFjQpaDuWCumMJXn4tdoSoWOUxCh8lEzCVT+OpzsStUxSKHyUTMJVP46nOx
	K1RFvud0aHi8LtONaTa9LE/EXDAFP/msToUhYyIHg7loLpnCFwoWjUmnVRpsJmSumMIX
	ChaNSWndTU+3ywmZK6bgJ5/TprA+DxkTMVdMwU8+kUliyJiQuWAumIIUr4flYTc97S4n
	aArSPOwmi9/4xAwGc8EUwHUZT3eFgs0wfYxOxFwwF4wcU/iI6fk62Q6fy/MELTdzwVww
	hS8UNBKLy3J+Sn/LywkZzjWDKXyhYNFsDo/LYTG7HJomYi6YwhcKLsv5Kf0tLydkCl+o
	SiU2EzRczhWLuWQKfvI5HU6TQvZ7vB6+2+2wmzwnlu3pcTlBk8lcMJdM4QsFh/Iyueym
	p8PsZtgdPpfliZgLpvAty3J3mS0ts8N55HtOT8QUvlBwWoQ2w+7wuSxPxFwwV0zhSz6n
	7LC9DJW/x+X5/C1PxBT85LM6FTbD83loSpSn7WV5Ila7uWIxl0zBTz6nw2kyKB+j0/Ty
	mF6Xl5tvcpkdMiZoMpkL5pIp+MlnaBoyJmSumIKffFanQuR7Tg8ZEzGXTOELVZHvOb1Z
	lp/LUPkbXpbT0+V5IuaSKXz1udgVqg7f7fbbnYi5YApfKCisz6Hve1keGiZiLpiCP3zL
	y0F3mJ2np8fzkDERU/hCweZbnGaXjWl2Oemml8/yND2fiLlgrpoCuC7j6a7hW16myutz
	eiKm4Cef0jL8LaeHjAnaTcFPPqnpdnmad49DxgQOBnPFaAp+8uks0+9v+TrtPoeMiZmL
	pvCFgsEhNAllh+nmt7ydsLliCl8oOG0OEzNXzJVT+O5h+hhNfp8TMQU/+YQOkyFjQubK
	KfjJZ3AITYaMiZiLpgCuy2MXnI6Wl8PkREwBXJfHLmZa3E7EFMB1eewav+XlsTwPp78T
	MRdMAQAAAA==
	</data>
	<key>backlight-level</key>
	<data>
	bAU=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	KwqHgAAAAABQFAAAAAAAAA==
	</data>
	<key>bootercfg</key>
	<data>
	KAA=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	CbDwAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	MjAxN21icAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AkMPAAAH
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajEzMGEAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	U2h14oCZcyBNYWNCb29rIEFpcg==
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEAAAAAAAQBKgACAAAAKEAGAAAAAABgC+8NAAAA
	AOYNEuF141ZMnAKju6mnM18CAgQDJAD3/HS+fAvzSZFHAfQELmhCn4u5hJdy40G+SgXa
	/NytOn//BAA=
	</data>
	<key>wake-failure</key>
	<data>
	AAAAAAA=
	</data>
</dict>
</plist>