<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Nw==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	7Q==
	</data>
	<key>backlight-level</key>
	<data>
	bAU=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajQzAGEAAAA=
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEAAAAAAAQBKgACAAAAKEAGAAAAAABgC+8NAAAA
	AOYNEuF141ZMnAKju6mnM18CAgQDJAD3/HS+fAvzSZFHAfQELmhCn4u5hJdy40G+SgXa
	/NytOn//BAA=
	</data>
	<key>wake-failure</key>
	<data>
	AAAAAAA=
	</data>
</dict>
</plist>